<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <assetService>
        <processor type="Company.XA.Foundation.Theming.Pipelines.AssetService.AddPlainIncludes, Company.XA.Foundation.Theming" />
      </assetService>
    </pipelines>
  </sitecore>
</configuration>