<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getRenderedRuleElements>
        <processor type="Westco.XA.Foundation.Rules.Pipelines.Taxonomy.GetElementFolders, Westco.XA.Foundation.Rules">
          <folders hint="list">
            <folder>/sitecore/system/Settings/Rules/Definitions/Elements/Feature</folder>
            <folder>/sitecore/system/Settings/Rules/Definitions/Elements/Foundation</folder>
            <folder>/sitecore/system/Settings/Rules/Definitions/Elements/Project</folder>
          </folders>
        </processor>
      </getRenderedRuleElements>
    </pipelines>
    <processors>
      <uiGetMasters>
        <processor mode="on" type="Westco.XA.Foundation.Rules.Pipelines.GetMasters.AddInsertOptions, Westco.XA.Foundation.Rules"
                   patch:before="processor[@type='Sitecore.Pipelines.GetMasters.CheckSecurity, Sitecore.Kernel']">
          <folders hint="list">
            <folder>/sitecore/system/Settings/Rules/Insert Options/Rules/Feature</folder>
            <folder>/sitecore/system/Settings/Rules/Insert Options/Rules/Foundation</folder>
            <folder>/sitecore/system/Settings/Rules/Insert Options/Rules/Project</folder>
          </folders>
        </processor>
      </uiGetMasters>
    </processors>
  </sitecore>
</configuration>