<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Westco.XA.Foundation.Rules" description="Files and items.">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Rules.InsertOptions.Feature" database="master" path="/sitecore/system/Settings/Rules/Insert Options/Rules/Feature" />
            <include name="Rules.InsertOptions.Foundation" database="master" path="/sitecore/system/Settings/Rules/Insert Options/Rules/Foundation" />
            <include name="Rules.InsertOptions.Project" database="master" path="/sitecore/system/Settings/Rules/Insert Options/Rules/Project" />
            <include name="Rules.Elements.Feature" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Feature" />
            <include name="Rules.Elements.Foundation" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Foundation" />
            <include name="Rules.Elements.Project" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Project" />
            <include name="Rules.Tags.Cookie" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/Cookie" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="true" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>