<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Westco.XA.Website" description="Files and items." extends="Westco.XA.Base">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.Templates" database="master" path="/sitecore/templates/Foundation/Westco">
              <exclude children="true" />
            </include>
            <include name="Feature.Templates" database="master" path="/sitecore/templates/Feature/Westco">
              <exclude children="true" />
            </include>
            <include name="Feature.Templates.Branches" database="master" path="/sitecore/templates/Branches/Feature/Westco">
              <exclude children="true" />
            </include>
            <include name="Feature.Media" database="master" path="/sitecore/media library/Feature/Westco">
              <exclude children="true" />
            </include>
            <include name="Foundation.System.Settings" database="master" path="/sitecore/system/settings/Foundation/Westco">
              <exclude children="true" />
            </include>
            <include name="Feature.System.Settings" database="master" path="/sitecore/system/settings/Feature/Westco">
              <exclude children="true" />
            </include>
            <include name="Feature.Layout.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Westco">
              <exclude children="true" />
            </include>
            <include name="Website.System.Modules.PowerShell" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/Westco" />
          </predicate>
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>