<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <ioc>
        <processor type="Westco.XA.Feature.StaticMaps.Pipelines.IoC.RegisterMapsServices, Westco.XA.Feature.StaticMaps" />
      </ioc>
    </pipelines>
  </sitecore>
</configuration>