<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Westco.XA.Feature.StaticMaps" description="Files and items." extends="Westco.XA.Base">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Feature/Westco/StaticMaps" />
            <include name="System.Settings" database="master" path="/sitecore/system/settings/Feature/Westco/StaticMaps" />
            <include name="Media.Theme" database="master" path="/sitecore/media library/Base Themes/StaticMaps" />
            <include name="Layout.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Westco/StaticMaps" />
            <include name="Webedit.EditStaticMap" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Edit Static Map Item" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="true" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>