<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Westco.XA.Foundation.Theming.Pipelines.IoC.RegisterServices, Westco.XA.Foundation.Theming"/>
    </services>
    <pipelines>
      <assetService>
        <processor type="Westco.XA.Foundation.Theming.Pipelines.AssetService.AddPlainIncludes, Westco.XA.Foundation.Theming" />
      </assetService>
    </pipelines>
    <settings>
      <setting name="HtmlEditor.DefaultConfigurationType">
        <patch:attribute name="value">Westco.XA.Foundation.Theming.Shell.Controls.RichTextEditor.EditorConfiguration, Westco.XA.Foundation.Theming</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>